body{
    background: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 44px;
    color: aliceblue;
}
.description {
    transition: 0.9s ease-in-out;
}
